@charset "utf-8";
body,
table,
td {
  border-spacing: 0px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}
html {
  overflow: hidden;
}
html,
body,
#screen {
  width: 100%;
  height: 100%;
}
table {
  table-layout: fixed;
}
#void {
  background-color: #000;
  color: #fff;
}
#battlefield {
  background-color: #fff;
  padding: 32px;
}
#battlefield td {
  min-width: 64px;
  height: 64px;
}
.player,
.monster {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
}
.player img,
.monster img {
  width: 0px;
  height: 0px;
}
